# Configuración del servidor local
PORT=3000
NODE_ENV=development
JWT_SECRET=deathcloud-secret-key-dev-2026

# Conexión remota a la base de datos a través de VPN
DB_USER=diego
DB_PASSWORD=admin123
DB_HOST=192.168.50.24
DB_PORT=5432
DB_NAME=death_cloud_dev

# URL del frontend para habilitar CORS (Cross-Origin Resource Sharing)
FRONTEND_URL=http://localhost:5173
